@using Microsoft.AspNet.Identity;

@model BugTrackingSystem.Models.Worklog


<section class="panel panel-default">
    <p class="panel-heading"> @Model.User.UserName has worked @Model.HoursWorked hours on @Model.Date </p>
    <p class="panel-body"> @Model.Description </p>
</section>