@model string

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Action("DetailsData", new { id = Model})

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
