@model BugTrackingSystem.Models.TicketComment

<section class="comment">
    <p class="author"> Author: @Model.AuthorName </p>
    <p class="author"> Email: @Model.AuthorEmail </p>
    <p class="commentText">
        @Model.CommentText
    </p>
</section>

