@using Microsoft.AspNet.Identity;

@model BugTrackingSystem.Models.IssueComment


<section class="comment">
    <p class="author"> @Model.User.UserName </p>
    <p class="commentText">
        @Model.CommentText
    </p>

    @if (User.Identity.GetUserId() == Model.UserId)
    {        
        <button class="editButton" onclick="var t = $(this);$.get('@Url.Action("Edit", "Comments", new { id = @Model.Id })', function (result) { t.parent('section').html(result) });"> Edit </button>
    }
</section>