@model IEnumerable<BugTrackingSystem.Models.IssueComment>


@foreach (var comment in Model)
{
    <section class="comment">
        <p class="author"> @comment.User.UserName </p>
        <p class="commentText">
            @comment.CommentText
        </p>

        @if (User.Identity.Name == comment.UserId)
        {
            @Ajax.ActionLink("Add comment", "Edit", new AjaxOptions
            {
                HttpMethod = "GET",
                OnSuccess = "editComment"
            })
        }
    </section>
}

<button id="createComment"> Create comment </button>
<div id="addComment"> </div>

<script type="text/javascript">
    $("#createComment").click(function () {

        $.ajax({
            type: "GET",
            url: '@Url.Action("Create", "Comments", new { id = ViewBag.IssueId })',
            success: function (result) {
                $("#addComment").html(result);
            },
            error: function (result) {
                alert(result);
            }
        });
    });

    function editComment(data, status, xhr) {
        alert(data);
        alert(status);
    }
</script>




