@model BugTrackingSystem.Areas.Administration.ViewModels.UserRoleViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Administration/Views/Shared/_AdminLayout.cshtml";
}

<div>
    <h4>Users:</h4>
    <hr />
    <ul>
        @foreach (var user in Model.UsersInRole)
        {
            <li> @user.UserName </li>
        }
    </ul>

    @Html.Partial("AddUser", Model);

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Role.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
