@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administration/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<ul>
    @foreach (var role in Model)
    {
       <li> @Html.ActionLink(role.Name, "Details", new {id=role.Id}) </li>
    }
</ul>
