@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administration/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th> </th>
    </tr>

</table>

<ul>
    @foreach (var role in Model)
    {
       <li> @Html.ActionLink(role.Name, "Details", new {id=role.Id}) </li>
    }
</ul>

@Html.ActionLink("Create new", "Create")
