
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administration/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

@Html.ActionLink("Manage Users", "Index", "AccountAdministration")
<br />
@Html.ActionLink("Manage Roles", "Index", "Roles")